.intro {
  &__summary {
    --flow-space: #{get-size(500)};
    font-size: var(--step-1);
  }

  &__heading {
    max-width: 40ex;

    &--compact {
      max-width: 20ex;
    }
  }

  &__meta {
    color: var(--color-mint);
  }
}
