.Intro {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-dark);
  border: solid 3px var(--color-dark);
  background-color: var(--color-light);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-dark);
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80vw;
  margin: 0 auto;

  &:after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    right: -19%;
    bottom: -16%;
    border-radius: 100%;
    background-color: var(--color-mint);
    z-index: -2;
  }

  &:before {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    right: -12%;
    bottom: -20%;
    border-radius: 100%;
    border: solid 3px var(--color-dark);
    z-index: -1;
  }

  &__summary {
    z-index: 1;
    position: relative;
    --flow-space: #{get-size(500)};
  }

  &__list > * + * {
    padding-left: 0.5rem;
  }

  &__list-item {
    display: inline-block;
  }

  &__list-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid var(--color-mint);
  }

  &__meta {
    position: relative;
    padding-left: 0.9rem;
    padding-top: 1.5rem;
    &:after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 140%;
      left: 0;
      top: 0;
      background-color: var(--color-lilac-up);
      border: 2px solid var(--color-dark);
      z-index: -1;
    }
  }

  &__meta-item {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 2rem;
    margin-right: 2rem;
    color: var(--color-dark);
  }

  &__heading {
    padding-bottom: 1.5rem;
    border-bottom: 3px solid var(--color-dark);
  }

  &--compact {
    max-width: 20ex;
  }

  &__list-item {
    list-style: none;
  }

  &__tag {
    text-decoration: none;
  }
}

@keyframes underline {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
