.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    color: var(--color-mint);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        var(--color-lilac) 50%
      );
    }
  }
}
