.post {
  &__body {
    --flow-space: #{get-size(800)};

    /**
     * Generic HTML styles 
     */
    h2 + *,
    h3 + * {
      --flow-space: #{get-size(500)};
    }

    h2,
    h3 {
      position: relative;
      /*display: flex;*/

      @include apply-utility('leading', 'tight');
    }

    a:not([class]) {
      color: currentcolor;
      position: relative;
      display: inline;
      padding: 0.1rem 0.2rem 0.2rem 0.1rem;
      white-space: pre;
      text-decoration: none;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 85%,
        var(--color-mint) 85%
      );
    }

    a:not([class]):hover {
      text-decoration: none;
      color: var(--color-light);
      background: var(--color-mint);
    }

    code {
      font-size: var(--step-0);
      white-space: pre;
      color: var(--color-mint);
      font-weight: 600;
      margin-left: 0.5ch;
      margin-right: 0.5ch;
    }

    pre > code {
      width: 100%;
      margin-right: 0;
    }

    blockquote {
      border-left: 0.4rem solid var(--color-mint);
      margin-left: 0;
      padding-left: get-size(500);
      font-style: italic;
      font-size: get-size(600);

      p {
        opacity: 0.85;
        padding: get-size(500) 0;
      }
    }

    ol,
    ul {
      margin-left: get-size(800);
    }

    li + li {
      margin-top: get-size(300);
    }

    figure,
    figure + *,
    pre > code,
    .video-player,
    .video-player + * {
      --flow-space: #{get-size('max')};
    }

    figure,
    pre > code,
    .video-player {
      width: 100%;
      max-width: map-get($metrics, 'wrap-max-width');
      margin-left: 50%; /*changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
      transform: translateX(
        -50%
      ); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
      position: relative;
    }

    figure img,
    pre > code,
    .video-player {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    figure img {
      position: relative;
      z-index: 1;
    }

    figcaption {
      font-size: 0.8em;
      font-style: italic;
      max-width: map-get($metrics, 'wrap-inner-max-width');
      margin: 0.5rem auto 0 auto;
      padding: 0 get-size(500);
    }

    pre > code {
      display: block;
      padding: get-size(700);
      font-size: var(--step-0);
    }
  }

  &__footer {
    background: var(--color-mint);

    h2 {
      flex-shrink: 0;
      margin-right: get-size('base');
    }

    h2 a {
      @extend %visually-hidden;
    }

    a {
      background: var(--color-bg);
      padding: 0.4rem 0.6rem;
    }

    .nav {
      text-transform: none;
    }
  }
}
