<header class="[ Hero ]">
  <div class="[ Hero__inner ] [ wrapper wrapper-lg ]">
    {% include "partials/components/illustration.svg" %}
    <div class="[ Hero__content ]">
      <p class="[ Hero__eyebrow ][ font-cursive h5 ]">👋 <span> Hi, I'm Cassie</span></p>
      <h1 class="[ Hero__heading ] [ h1 ]">
        I like making <span class="outline">fun</span>,
        <span class="js-interactive">interactive</span> things with code. I also
        <span class="outline">talk</span> & <span class="outline">write</span> about those
        things
      </h1>
    </div>
  </div>
</header>
