<header class="[ Intro ] [ pad-around ]">
  <div class="[ Intro__inner ] [ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ Intro__heading Heading--highlight ] [ h3 ]">{{ introHeading }}</h1>
    {% if introSummary %}
    <div class="[ Intro__summary ] [ sf-flow ]">
      {{ introSummary | safe }}
    </div>
    {% endif %}
  </div>
</header>
