{% if postListItems.length %}
	<section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
		<div class="[ inner-wrapper ] [ sf-flow ]">
			{% if postListHeading %}
				<h2 class="[ post-list__heading Heading--highlight ] [ h4 font-sans-serif ]">{{ postListHeading }}</h2>
			{% endif %}

			<ol class="[ post-list__items ] [ sf-flow ]" reversed>
				{% for item in postListItems %}
					{% if item.external or item.date.getTime() <= global.now %}
						<li class="post-list__item">
							<h3 class="font-base leading-tight h4 weight-mid">
								<a {% if item.external %} rel="external" {% endif %} href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}
								</a>
							</h3>
							{% if item.publication %}
								<p class="h5 gap-top-300">written for
									<a rel="external" href="{{ item.publication.url }}">{{ item.publication.name }}</a>
								</p>
							{% endif %}
							<p class="h5 gap-top-300 weight-mid">
								<time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
							</p>
						</li>
					{% endif %}
				{% endfor %}
			</ol>
		</div>
	</section>
{% endif %}
