{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      {% if postListHeading %} 
      <h2 class="[ post-list__heading Heading--highlight ] [ text-600 md:text-700 ]">{{ postListHeading }}</h2>
      {% endif %}
      <ol class="[ post-list__items ] [ sf-flow ]" reversed>

      <li class="post-list__item">
            <h3 class="font-base leading-tight text-600 weight-mid">
              <a href="https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/" class="post-list__link" rel="bookmark">
              The many ways to change an SVG fill on hover</a>
            </h3>
            <p class="text-500 gap-top-300">written for <a href="https://css-tricks.com/">CSS tricks</a></p>
            <p class="text-500 gap-top-300 weight-mid">
              <time datetime="2019-01-31">Jan 31, 2019</time>
            </p>
          </li>

          <li class="post-list__item">
            <h3 class="font-base leading-tight text-600 weight-mid">
              <a href="https://clearleft.com/posts/earth-day" class="post-list__link" rel="bookmark">
              Earth day, API's and sunshine</a>
            </h3>
            <p class="text-500 gap-top-300 weight-mid">
              <time datetime="2019-04-22">April 22, 2019</time>
            </p>
          </li>
        {# {% for item in postListItems %}
          <li class="post-list__item">
            <h3 class="font-base leading-tight text-600 weight-mid">
              <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
            </h3>
            <p class="text-500 gap-top-300 weight-mid">
              <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
          </li>
        {% endfor %} #}
      </ol>
    </div>
  </section>
{% endif %}
