<section class="[ Speaking ] [ pad-around-xlg ]">
  <div class="[ wrapper ]">
    <div class="[ Speaking__intro ]">
      <div class="[ Speaking__text ] [ sf-flow ]">
        <h2 class="[ Speaking__heading ] [ h1 ]">Speaking.</h2>
        <p>
          The first time I got asked to speak at a conference, my gut reaction was “heck
          no. That sounds terrifying”. So naturally I said yes.
        </p>
        <p>
          Since then I’ve spoken at conferences and meet-ups all over the world. It still
          terrifies me.
        </p>
      </div>
      <figure class="[ Speaking__image ]">
        <img
          src="/images/speaker.jpg"
          alt="black and white photo of Cassie on stage at beyond tellerand. Screen behind her shows an SVG neopet."
        />
        <figcaption class="[ h6 ]" data-content="beyond tellerand">
          beyond tellerand
        </figcaption>
      </figure>
    </div>

    <div class="[ Speaking__talks ] [ sf-flow ]">
      <article class="[ Card ]">
        <p class="[ Card__type ] [ font-cursive h6 ]">talk</p>
        <a href="#" class="[ Card__link ] [ sf-flow underline ]">
          <h2 class="[ h4 ] [ underline__text ]">Painting with SVG</h2>
          <p>
            SVG's a great format for creating illustrative graphics on the web, but it can
            sometimes feel a bit... flat?
          </p>
          <p>
            Illustration in the real-world is gloriously messy. It's full of texture,
            human error, smudges, and paint splatters. Let's take a look at how we can use
            different SVG techniques to recreate some of this tactile 'messiness'
          </p>
        </a>
      </article>

      <article class="[ Card ]">
        <p class="[ Card__type ] [ font-cursive h6 ]">workshop</p>
        <a href="#" class="[ Card__link ] [ sf-flow underline ]">
          <h2 class="[ h4 ] [ underline__text ]">Getting started with SVG animation</h2>
          <p>
            Have you wanted to give SVG animation a go but haven’t found the time or known
            where to start?
          </p>
          <p>
            Animation is one of the best ways to bring brand personality and character to
            an online experience, but in the busy world of front-end development, it can
            often be overlooked.
          </p>
          <p>Join me for a day of SVG animation fun!</p>
        </a>
      </article>

      <article class="[ Card ]">
        <p class="[ Card__type ] [ font-cursive h6 ]">talk</p>
        <a href="#" class="[ Card__link ] [ sf-flow underline ]">
          <h2 class="[ h4 ] [ underline__text ]">Interactive web animation with SVG</h2>
          <p>
            Have you ever felt uninspired by the every-day grind? Like coding is all work
            and no play? Come with me as I take you on a whistle-stop tour of delightful
            SVG animations.
          </p>
        </a>
      </article>

      <article class="[ Card ]">
        <p class="[ Card__type ] [ font-cursive h6 ]">webinar</p>
        <a href="#" class="[ Card__link ] [ sf-flow underline ]">
          <h2 class="[ h4 ] [ underline__text ]">Smashing TV - SVG animation</h2>
          <p>
            Having fun is an important part of learning. Especially in the world of web
            animation! This webinar contains takeaways to help with SVG animation in
            production, but we’ll also have fun with some experimental technology.
          </p>
        </a>
      </article>

      <article class="[ Card ] [ js-last-card ]">
        <p class="[ Card__type ] [ font-cursive h6 ]">talk</p>
        <a href="#" class="[ Card__link ] [ sf-flow underline ]">
          <h2 class="[ h4 ] [ underline__text ]">Limitation breeds creativity</h2>
          <p>
            Constraints might not feel like what you want when you're trying to kickstart
            creativity or start a new project. But working within constraints can help you
            get started and provide unconventional ways around a problem.
          </p>
        </a>
      </article>
    </div>
  </div>
</section>
