.wrapper {
  max-width: map-get($metrics, 'wrap-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: get-size(500);
  padding-right: get-size(500);
}

.inner-wrapper {
  max-width: map-get($metrics, 'wrap-inner-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: get-size(500);
  padding-right: get-size(500);
}

.wrapper-lg {
  max-width: map-get($metrics, 'wrap-large-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0.5rem + (6 - 0.5) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(0.5rem + (6 - 0.5) * ((100vw - 20rem) / (100 - 20)));
}


@media screen and (min-width: 100em) {
  .wrapper-lg {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}