<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="https://hankchizljaw.imgix.net/hylia-favicon.png" type="image/png" />
  <link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/Rubik-Bold.woff2" />
  {% include "partials/global/meta-info.njk" %}
  <style>{% include "assets/css/global.css" %}</style>
  {% block head %}
  {% endblock %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="/js/DrawSVGPlugin.min.js"></script>
    <script src="/js/CustomEase.min.js"></script>
    <script src="/js/CustomBounce.min.js"></script>
    <script>
    console.log('beepboop');
    TweenMax.set('.path', {
      drawSVG: '0% 0%'
    });
    TweenMax.set('.dot-group', {
      yPercent: 100
    });

    CustomBounce.create('myBounce', {strength: 0.6, squash: 2});

    tl = new TimelineMax({delay: 0.5});

    tl.addLabel('i', 2.85)
      .set('.logo', {autoAlpha: 1})
      .timeScale(1.2)
      .staggerTo('.cPath', 0.5, {drawSVG: '100%', ease: Linear.easeNone}, 0.2)
      .staggerTo('.a1Path', 0.25, {drawSVG: '100%', ease: Linear.easeNone}, 0.2, '-=0.35')
      .staggerTo('.a2Path', 0.25, {drawSVG: '100%', ease: Linear.easeNone}, 0.1, '-=0.04')
      .staggerTo('.s1Path', 0.4, {drawSVG: '100%', ease: Linear.easeNone}, 0.1, '-=0.02')
      .staggerTo('.s2Path', 0.3, {drawSVG: '100%', ease: Linear.easeNone}, 0.07, '-=0.1')
      .staggerTo('.s3Path', 0.4, {drawSVG: '100%', ease: Linear.easeNone}, 0.1, '-=0.4')
      .staggerTo('.s4Path', 0.2, {drawSVG: '100%', ease: Linear.easeNone}, 0.07, '-=0.1')
      .from('#dot', 0.01, {autoAlpha: 0}, '-=0.03')
      .to('#dot', 0.4, {yPercent: -500, ease: Power4.easeOut}, '-=0.01')
      .to('.dot-group', 0.4, {scale: 1.4, ease: Power4.easeOut}, '-=0.4')
      .to('#dot', 0.9, {yPercent: -150, ease: 'myBounce'})
      .to('#dot', 0.9, {
        scaleY: 0.6,
        scaleX: 1.2,
        ease: 'myBounce-squash',
        transformOrigin: 'bottom',
        delay: -0.9
      })
      .staggerTo('.iPath', 0.5, {drawSVG: '100%', ease: Linear.easeNone}, 0.05, 'i')
      .staggerTo('.ePath', 0.5, {drawSVG: '100%', ease: Linear.easeNone}, 0.05, '-=0.3');
    </script>
</body>
</html>
