{% extends 'layouts/base.njk' %} 
{% set pageType = 'Post' %} {# Intro content #} 

{% set introHeading = title %} 

{% set introSummary %}
{% if tags %}
<div class="[ wrapper ]">
  <ul>
    {% for item in tags %}
    <li>
      <a href="/tags/{{ item }}">{{ item }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <p>
    {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{
      date | dateFilter
    }}</time>
    {% endif %}
  </p>
  <p role="text">{{ helpers.getReadingTime(content) }} minute read</p>
</div>
{% endset %} 
  
  {% block content %}
  <main id="main-content" tabindex="-1">
    <div class="[ post__intro ]">
      <div class="[ wrapper wrapper-md ] [ pad-before-xlg ]">
        {% include "partials/components/intro.njk" %}
      </div>
    </div>

    <article class="[ post__body-cont ] [ h-entry ] [ pad-after-xlg ]">
      <div class="[ post__body ] [ wrapper wrapper-sm ] [ pad-around-lg ] [ sf-flow ] [ e-content ] [ h6 ]">
        {{ content | safe }}
      </div>
    </article>
  </main>
  {% endblock %}

  {{ content | safe }}
</div>
