{% extends 'layouts/base.njk' %}
{% set pageType = 'Speaking' %}


{% set speakingHeading = "Talks & workshops." %}
{% set speakingImage = '/images/css-camp.jpg' %}
{% set speakingAlt = 'Cassie on stage at CSS camp in barcelona. Screen behind her shows an SVG jellyfish.'%}
{% set speakingCaption = 'CSS Camp' %}
{% set speakingIntro = "<p>I got into making things on the web back in the days of myspace and neopets. Those sites encouraged so many kids to learn how to code. <br> It was such a creative, collaborative time." %}


{% block content %}
	<main id="main-content" tabindex="-1" class="speaking">


		{% include "partials/components/speaking.njk" %}
		{% include "partials/components/featured-talks.njk" %}
	</main>

{% endblock %}
