{% extends 'layouts/base.njk' %}
{% set pageType = 'Speaking' %}

{% set speakingHeading = "Speaking" %}
{% set speakingImage = '/images/css-camp.jpg' %}
{% set speakingAlt = 'Cassie on stage at CSS camp in barcelona. Screen behind her shows an SVG jellyfish.'%}
{% set speakingCaption = 'CSS Camp' %}
{% set speakingIntro = "<p>I got into making things on the web back in the whimsical days of myspace and neopets.</p><p>Remember the space jam website, blink tags and sparkly trailing cursors?</p><p>I aim to bring back some of that playfulness to the web through my talks and workshops.</p>" %}

{% block content %}
	<main id="main-content" tabindex="-1" class="speaking">

		{% include "partials/components/speaking.njk" %}

		{% include "partials/components/featured-talks.njk" %}

		{% if upcoming.events %}
			<div class="[ wrapper ] [ pad-before-lg ]">
				<div class="[ Workshop__events ] [ sf-flow ]">
					<h2 class="[ h4 ]">Upcoming events</h2>
					<p>Things are understandably pretty quiet at the moment due to the *situation*. But I'll be popping up online here and there.</p>
					<ol class="[ Events ]" reversed="reversed">
						{% for event in upcoming.events %}
							{% if helpers.isUpcoming(event.date) %}
								{% include "partials/components/event.njk" %}
							{% endif %}
						{% endfor %}
					</ol>
				</div>
			</div>
		{% endif %}
		{% set speakingHeading = "Talks & workshops." %}{% set speakingIntro = null %}{% set speakingImage = null %}{% set talks = true %}
		<div class="[ wrapper ] [ pad-after-xlg pad-before-lg ] ">
			{% if talks %}
				<div class="[ Speaking__talks ] [ sf-flow ]">
					{% include "partials/components/talks.njk" %}
				</div>
			{% endif %}
		</div>
	</main>
{% endblock %}