{% extends 'layouts/base.njk' %}
{% set pageType = 'Workshop' %}

{% block content %}
	<main id="main-content" class="Workshop" tabindex="-1">
		<article class="[ wrapper wrapper-lg ] [ pad-around-xlg ]">
			<div class="[ Workshop__text ] [ sf-flow ] [ pad-before ]">
				<div class="[ Workshop__head ] [ sf-flow ]">
					<h1 class="[ Workshop__heading ] [ h1 ]">{{ title }}</h1>
					{% if cta %}
						<div class="[ Workshop__cta ]">
							<a class='[ button ] [ h6 ]' data-content='{{ ctaText }}' href='{{ cta }}'>{{ ctaText }}</a>
						</div>
					{% endif %}
				</div>

				{% if description %}
					<div class="[ Workshop__intro ] [ h6 ] [ sf-flow ]">
						{{ description | safe }}
					</div>
				{% endif %}

			</div>
		</article>

		<div class="[ wrapper wrapper-lg ] [ pad-after-lg ]">

			<div class="[ Workshop__resources ] [ sf-flow ]">
				{% if slides %}
					<div class="[ Workshop__slides ] [ sf-flow ]">
						<h2 class="[ h4 ]">Slides</h2>
						<div class="[ Workshop__slides-cont ]">
							<iframe src="{{ slides }}" width="580" scrolling="no" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				{% endif %}

				{% if subContent %}
					<div class="[ Workshop__subcontent ] [ sf-flow ]">{{ subContent | safe }}</div>
				{% endif %}
				{% if image %}
					<figure class="[ Speaking__image ]">
						<img src="{{ image }}" alt="{{ imageCaption }}"/>
						<figcaption class="[ small ]" data-content="{{ imageCaption }}">
							{{ imageCaption }}
						</figcaption>
					</figure>
				{% endif %}

				{% if video %}
					<div class="[ Workshop__video ] [ sf-flow ]">
						<div class="[ Browser ] [ Featured__player ]">
							<div class="[ video-player ]">
								<iframe title="Video player: {{ title }}" width="580" height="315" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

		{% if upcoming.length %}
			<div class="[ wrapper ] [ pad-after ]">
				<div class="[ Workshop__events ] [ sf-flow ]">
					<h2 class="[ h4 ]">Upcoming</h2>

					<ol class="[ Events ]" reversed="reversed">
						{% for event in upcoming %}
							{% include "partials/components/event.njk" %}
						{% endfor %}
					</ol>
				</div>
			</div>

		{% endif %}
		<div class="[ wrapper ] [ pad-after-lg ]">
			<div class="[ Workshop__events ] [ sf-flow ]">
				<h2 class="[ h4 ]">Past workshops</h2>

				<ol class="[ Events ]" reversed="reversed">
					{% for event in events %}
						{% include "partials/components/event.njk" %}
					{% endfor %}
				</ol>
			</div>
		</div>

		<div class="[ Workshop__feedback ] [ wrapper ] [ sf-flow ]">
			<h2 class="[ h4 ]">People have said very nice things 🥺</h2>
			{% if testimonials %}
				{% for item in testimonials %}
					<blockquote class="[ Blockquote ] [ h6 ]">
						{{ item.testimonial}}
						<footer>
							—
							<cite class="author">
								{% if item.url %}
									<a href="{{ item.url }}}">{{ item.name }}
									{% else %}
										{{ item.name }}
									{% endif %}
								</cite>
							</footer>
							<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewbox="0 0 975.036 975.036" width="100%"><path fill="var(--color-lilac)" d="m925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50z"/><path fill="var(--color-lilac)" d="m106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2s30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"/></svg>
						</blockquote>
					{% endfor %}
				{% endif %}
				{% if tweets %}
					<div class="[ Workshop__tweets ] [ pad-before ]">
						{{ content | safe }}</div>
				{% endif %}
			</div>

			{% if cta %}
				<div class="[ Workshop__footer ]  [ pad-before pad-after-xlg ]">
					<a class='[ button ] [ h6 ]' data-content='Go on... join us!' href='{{ cta }}'>Go on... join us!</a>
				</div>
			{% endif %}
		</main>
	{% endblock %}