{% extends 'layouts/base.njk' %}
{% set pageType = 'Writing' %}

{# Intro content #}
{% set introHeading = "Sometimes I write things..." %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{# {% set postListHeading = 'All posts' %} #}
{% set externalPostListHeading = 'Articles from elsewhere' %}
{% set postListItems = collections.posts %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/external-post-list.njk" %}
  </main>
{% endblock %}
