@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES 
 */

html {
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  position: relative;
  scroll-behavior: smooth;
  color: var(--color-dark);
}

.night {
  -webkit-font-smoothing: antialiased;
  --color-mint: hsl(316, 30%, 36%);
  --color-highlight: hsl(240, 33%, 77%);
  --color-lilac: hsl(256, 23%, 22%);
  --color-lilac-up: hsl(257, 17%, 41%);
  --color-sherbet: hsl(0, 0%, 24%);
  --color-light: hsl(274, 3%, 11%);
  --color-light-down: hsl(210, 4%, 98%);
  --color-light-down-2: hsl(210, 4%, 95%);
  --color-light-down-3: hsl(210, 4%, 80%);
  --color-mid: hsl(0, 0%, 80%);
  --color-dark: hsl(0, 0%, 98%);
}

.logo {
  width: 8rem;
  visibility: hidden;
  overflow: visible;
}

main:focus {
  outline: none;
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

a:not([class]) {
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, var(--color-mint) 90%);
}

.underline {
  line-height: 1;
  display: inline;
  background-image: linear-gradient(
    transparent 50%,
    var(--underline) 50%,
    var(--underline) 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

.underline:hover {
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 100% 100%;
}

a.arrow {
  position: relative;
  padding-right: 2rem;

  &::after {
    content: '';
    line-height: 1.2;
    position: absolute;
    height: 100%;
    width: 1.2rem;
    background-repeat: no-repeat;
    top: 0%;
    right: 0.5rem;
    background-position: 0% 60%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10' aria-hidden='true'%3E%3Cpath fill='%23404040' d='M1 4h11.59l-2.3-2.29A1 1 0 0111.71.29l4 4a1 1 0 010 1.41l-4 4a1 1 0 01-1.41-1.41L12.59 6H1a1 1 0 010-2z'/%3E%3C/svg%3E");
    transition: ease-out 0.2s;
  }

  &:hover::after {
    transform: translateX(0.3rem);
  }
}

.night a.arrow {
  &::after {
    filter: invert(1);
  }
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-dark);
  color: var(--color-dark);
  @include apply-utility('font', 'sans-serif');
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.02em;

  &:after {
    position: absolute;
    content: attr(data-content);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: solid 2px var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-0.5rem, -0.5rem);
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &:hover:after {
    transform: translate(0, 0);
  }
}

.night .button {
  &:after {
    background-color: var(--color-lilac);
  }
}

.videos {
  margin: 0 1rem;
  max-width: 500px;
  > * + * {
    margin-top: 1rem;
  }
}

@include media-query('md') {
  .videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 1rem;
    > * + * {
      margin-top: 0;
    }
  }
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/visually-hidden';
@import 'utilities/wrappers';
@import 'utilities/grid';
@import 'utilities/layout';

// Components
// @import 'components/heading-permalink';
// @import 'components/intro';

// @import 'components/pagination';
// @import 'components/post';
// @import 'components/post-list';

// @import 'components/site-foot';

// @import 'components/syntax-highlighting';
// @import 'components/video-player';

//Mine
@import 'components/skip-link';
@import 'components/site-head';
@import 'components/nav';
@import 'components/toggle';
@import 'components/illustration';
@import 'components/hero';
@import 'components/posts-intro';
@import 'components/browser';
