@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES 
 */

html {
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  position: relative;
  scroll-behavior: smooth;
}

.night {
  --color-mint: hsl(181, 25%, 43%);
  --color-mint-up: hsl(182, 31%, 37%);
  --color-mint-down: hsl(181, 31%, 27%);
  --color-lilac: hsl(257, 15%, 37%);
  --color-lilac-up: hsl(257, 17%, 41%);
  --color-sherbet: hsl(0, 0%, 24%);
  --color-rose: hsl(344, 29%, 57%);
  --color-peach: hsl(4, 30%, 73%);
  --color-biscuit: hsl(25, 12%, 50%);
  --color-oat: hsl(19, 8%, 62%);
  --color-light: hsl(274, 5%, 10%);
  --color-light-down: hsl(210, 4%, 98%);
  --color-light-down-2: hsl(210, 4%, 95%);
  --color-light-down-3: hsl(210, 4%, 80%);
  --color-mid: hsl(0, 0%, 80%);
  --color-dark: hsl(0, 0%, 98%);
}

.logo {
  width: 10rem;
  visibility: hidden;
  overflow: visible;
}

main:focus {
  outline: none;
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

a:not([class]) {
  color: currentcolor;
  position: relative;
  display: inline;
  padding: 0.1rem 0.2rem 0.2rem 0.1rem;
  white-space: pre;
  text-decoration: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 85%,
    var(--color-mint) 85%
  );
}

a:not([class]):hover {
  text-decoration: none;
  color: var(--color-light);
  background: var(--color-mint);
}

.videos {
  margin: 0 1rem;
  max-width: 500px;
  > * + * {
    margin-top: 1rem;
  }
}

@include media-query('md') {
  .videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 1rem;
    > * + * {
      margin-top: 0;
    }
  }
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'utilities/grid';

// Components
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
