@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES 
 */

html {
  background-color: var(--color-theme-primary);
}
body {
  position: relative;
  scroll-behavior: smooth;
  padding: 0.8rem 0.8rem 0 0.8rem;
}

body::after {
  content: '';
  position: fixed;
  user-select: none;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
  border: var(--color-theme-primary) solid 0.8rem;
  border-bottom-width: 0;
}

@include media-query('md') {
  body {
    padding: 0.8rem;
  }

  body::after {
    border-bottom-width: 0.8rem;
  }
}

.logo {
  width: 10rem;
  visibility: hidden;
  overflow: visible;
}

main:focus {
  outline: none;
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

a:not([class]) {
  color: currentcolor;
  position: relative;
  display: inline;
  padding: 0.1rem 0.2rem 0.2rem 0.1rem;
  white-space: pre;
  text-decoration: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 85%,
    var(--color-theme-primary) 85%
  );
}

a:not([class]):hover {
  text-decoration: none;
  color: var(--color-light);
  background: var(--color-theme-primary);
}

// .arrowLink {
//   display: inline-block;
//   position: relative;
//   color: #fff;
//   font-weight: bold;
//   text-decoration: none;
//   padding: 0 6px;
//   transition: 100ms ease-out 50ms;
//   background: var(--color-theme-primary);
//   &:before,
//   &:after {
//     will-change: transform;
//     content: '';
//     display: block;
//     position: absolute;
//     z-index: -1;
//   }
//   &:before {
//     transition: 100ms ease-out 50ms;
//     transform-origin: 0 24px;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: var(--color-theme-primary);
//   }
//   &:after {
//     transition: 50ms ease-out;
//     transform: scaleX(0);
//     transform-origin: left center;
//     bottom: 2px;
//     right: -12px;
//     border: 8px solid transparent;
//     border-left-color: var(--color-theme-primary);
//   }
//   &:hover {
//     color: var(--color-text);
//     font-weight: bold;
//     &:before {
//       transition: 100ms ease-out;
//       transform: scaleY(0.18);
//       background: var(--color-theme-primary);
//     }
//     &:after {
//       transition: 50ms ease-out 100ms;
//       transform: none;
//     }
//   }
//   &:active {
//     &:before {
//       transition: 100ms ease-in;
//       background: var(--color-theme-primary);
//     }
//     &:after {
//       transition: 100ms ease-in;
//       border-left-color: var(--color-theme-primary);
//     }
//   }
// }

.videos {
  margin: 0 1rem;
  max-width: 500px;
  > * + * {
    margin-top: 1rem;
  }
}

@include media-query('md') {
  .videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 1rem;
    > * + * {
      margin-top: 0;
    }
  }
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'utilities/grid';

// Components
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
